.header {
    position: fixed;
    height: 13vh;
    min-width: 100vw;
    /* background-image: linear-gradient(90deg, rgb(94, 92, 92), black); */
    background-color: #6A0DAD ;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 0;
    z-index: 1000;
}

.navbar {
    padding: 0;
    margin: 0;
    flex-direction: column; 
    align-items: flex-start; 
}
.search-bar {
    margin-left: 35px;
    margin-top: 40px;
    height: 30px; 
    border: 2px solid #2f3030; 
    border-radius: 0.5em; 
    padding: 0 10px; 
    margin-right: 20px; 
    font-size: 16px; 
    width: 80%;
    color: #4A0072 ; 
    background-color: white; 
    transition: border-color 0.3s; 
    margin-bottom: 0px;
}

.search-bar:focus {
    outline: none; 
    border-color: #BA68C8 ; 
}

.lista {
    display: flex;
    list-style: none;
    padding-right: 230px;
    margin-top: 50px;
    
}
  
.itens  {
    margin-right: 20px;
    color: white;
    letter-spacing: 3px;
    cursor: pointer;
    text-decoration: none;
    height: 40px;
}

.usuario {
    margin-right: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botao {
    background-color: #9C27B0  ;
    border-radius: 0.5em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
    cursor: pointer;
    max-height: 40px;
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.botao:hover {
    background-color: #BA68C8 ;
}
.menu-link {
    text-decoration: none; 
    color: rgb(255, 255, 255); 
    font-size: 16px; 
    transition: color 0.3s; 
}
  
.menu-link:hover {
    color: #BA68C8 ;
}

.logo {
    width: 80px;
    height: auto;
    display: flex;
    color: #cecece;
    align-items: flex-end; 
    margin-bottom: 20px;
}

.logo img {
    width: 80px; 
    height: auto;
    margin-right: 5px; 
}

.logo p {
    margin: 0; 
    color: #cecece; 
    font-size: 20px; 
}

