.checkout-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    padding: 40px;
  }
  
  .carrinho-detalhes, .formulario-pagamento {
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    background: #292727;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    margin-top: 15px;
    padding: 10px;
    background: #4e4e4e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: #363636;
  }
  
  .formulario-pagamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  