::-webkit-scrollbar {
    width: 0px;  
    height: 0px; 
}

::-webkit-scrollbar-thumb {
    background-color: transparent; 
}

html, body {
    overflow-y: auto; 
    height: 100%;
    background-color: 	#EDE7F6 ;

}

body {
    overflow-x: hidden;
}
.Main {
    min-height: 100vh;
    color: #4A0072 ;
    /* background-image: linear-gradient(-45deg, rgb(87, 86, 86), rgb(0, 0, 0)); */
    background-color: 	#EDE7F6 ;
    display: flex;
    align-items: center;
    justify-content: center;

}
  
.Content {
    margin-top: 15vh;


}

.container-products {
    width: 100%;
    display: flex;  
    /* background-image: linear-gradient(-45deg, rgb(87, 86, 86), rgb(0, 0, 0)); */
    background-color: 	#EDE7F6 ;
    

}
.lista-filtros{
    margin-top: 20px;
    padding-left: 20px;
    width: 25%;
    min-height: 100vh;
    padding-top: 15vh;
    margin-bottom: 20px;
    display: flex ;
    flex-direction: column;
    gap: 15px;
}

.lista-filtros form {
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.lista-filtros input,
.lista-filtros select,
.lista-filtros textarea,
.lista-filtros button {
    padding: 5px;
    font-size: 16px;
    width: 100%; 
    box-sizing: border-box;
    border-radius: 0.3em;
}

.lista-filtros textarea {
    height: 100px;
}

.contact-form {
    margin-top: 20px;
    align-items: center;
}

.lista-filtros button {

    background-color: #9C27B0 ; 
    color: white; 
    border: none; 
    cursor: pointer; 
}

.lista-filtros button:hover {
    background-color: #BA68C8 ; 
}
.product-list {
    width: 75%;
    margin-top: 20vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    
}

.product-item {
    cursor: pointer;
    text-align: center;
}
.product-item:hover .product-image{
    transform: scale(1.05); 
    transition: transform 0.5s ease;
    
}

.product-image {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 0.3em;

}

.product-image-wrapper {
    position: relative;
    display: inline-block;
    
}

h3 {
    font-size: 18px;
    margin: 10px 0 0;
    color: #4A0072 ;
}
 
.image-controls {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product-item:hover .image-controls {
    opacity: 1;
}


.image-controls button {
    background-color: #9C27B0 ;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;

}
.image-controls button:hover {
    background-color: #BA68C8 ;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.788);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background: #D8BFD8 ;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.input {
    border-radius: 5px;
    margin: 5px;
    height: 30px;
    width: 250px;
    font-size: 16px;

}

.botao-login {
    background-color: #9C27B0 ;
    color: aliceblue;
    border-radius: 5px;
    margin: 5px;
    height: 30px;
    width: 250px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.botao-login:hover {
    background-color: #BA68C8 ;

}


.contato {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}